/* CSS full-screen layout - site specific elements */

html { overflow: hidden; }
body { overflow: hidden; padding: 0; margin: 0; width: 100%; height: 100%; font-family: Trebuchet MS, Trebuchet, Arial, sans-serif; background: #FFFFFF;}
h1 { padding:7px 10px; margin:0; font-size: 1.2em; line-height:0.2em; }
h2 { padding:7px 10px; margin:0; font-size: 1.0em; }
h3 {	font-size: 0.9em; border-bottom: 1px solid #ccc;}
h4 {	font-size: 0.85em;}
label { font-size: 0.9em;}

#header { position: absolute; border: 1px solid #fff; top: 10px; left: 10px; right: 10px; margin-bottom:5px; height: 90px; overflow: hidden;  }
#header { background: #ffffff; border: 1px solid #592F57; box-shadow: 0 0px 0px #CCC; } 
#headertitle { position: absolute; top: 10px; left: 100px; right:20px; overflow: hidden; text-align:center; } 

#scalebar {position: absolute; right: 20px; bottom: 75px; z-index: 10001; font-size: small;}
#searchSideBar { position: absolute; top: 60px; left: 10px; right: 10px; margin-bottom:5px; height: 20px;}
#SelectLeft {     width: 39.5%; float: left; max-width: 300px;}
#SelectRight { width: 39.5%; float: right; max-width: 300px;}

#mapleft { position: absolute; left: 10px; right: 50.2%; top: 110px; bottom: 10px; border: 1px solid #ccc;}
#mapright { position: absolute; left: 50.2%; right: 10px; top: 110px; bottom: 10px; border: 1px solid #ccc;}
